In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("trainKNN.txt", sep = ",", header=None)

In [3]:
df

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
191  207  1.51645  14.94  0.00  1.87  73.11  0.00  8.67  1.38  0.0   7
192  208  1.51831  14.39  0.00  1.82  72.86  1.41  6.47  2.88  0.0   7
193  209  1.51640  14.37  0.00  2.74  72.85  0.00  9.45  0.54  0.0   7
194  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
195  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7

[196 rows x 11 columns]

In [4]:
df.columns = ['ID Number','RI','Sodium','Magnesium','Aluminium','Silicon','Pottasium','Calcium','Barium','Iron','Type_of_Glass']

In [5]:
df

,ID Number,RI,Sodium,Magnesium,Aluminium,Silicon,Pottasium,Calcium,Barium,Iron,Type_of_Glass
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
191,207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.0,7
192,208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.0,7
193,209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.0,7
194,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0,7
195,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0,7

In [6]:
df1=df.drop(['Type_of_Glass'],axis=1)
df1

,ID Number,RI,Sodium,Magnesium,Aluminium,Silicon,Pottasium,Calcium,Barium,Iron
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.0
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.0
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.0
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.0
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
191,207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.0
192,208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.0
193,209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.0
194,210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.0
195,211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.0

In [7]:
import numpy as np

In [8]:
corr = df1.corr()
columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.8:
            if columns[j]:
                columns[j] = False
selected_columns = df1.columns[columns]
df2 = df[selected_columns]

In [9]:
df3=pd.read_csv('testKNN.txt',sep=",",header=None)
df3.columns = ['ID Number','RI','Sodium','Magnesium','Aluminium','Silicon','Pottasium','Calcium','Barium','Iron','Type_of_Glass']

In [10]:
df3

,ID Number,RI,Sodium,Magnesium,Aluminium,Silicon,Pottasium,Calcium,Barium,Iron,Type_of_Glass
0,68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1
1,69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1
2,70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1
3,144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2
4,145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2
5,146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2
6,161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3
7,162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3
8,163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3
9,174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5
10,175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5
11,176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5
12,183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6
13,184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6
14,185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6
15,212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7
16,213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7
17,214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7

In [11]:
feature_cols = ['ID Number','RI','Sodium','Magnesium','Aluminium','Silicon','Pottasium','Barium','Iron']
x_test = df3[feature_cols]
y_test = df3.Type_of_Glass

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
X_train = df2 # Features
y_train = df["Type_of_Glass"] # Target variable

In [14]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler();
X_train=sc_X.fit_transform(X_train);
x_test=sc_X.transform(x_test);

In [15]:
knn = KNeighborsClassifier(n_neighbors=5,metric='seuclidean',p=2, algorithm='brute')

In [16]:
knn = knn.fit(X_train,y_train)

In [17]:
pred = knn.predict(x_test)

C:\Users\sowmyaappu\anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:1450: FutureWarning: from version 1.0 (renaming of 0.25), pairwise_distances for metric='seuclidean' will require V to be specified if Y is passed.
  warnings.warn(

In [18]:
pred

array([1, 1, 1, 2, 2, 2, 2, 2, 2, 5, 2, 2, 6, 2, 7, 7, 7, 7], dtype=int64)

In [19]:
y_test

0     1
1     1
2     1
3     2
4     2
5     2
6     3
7     3
8     3
9     5
10    5
11    5
12    6
13    6
14    6
15    7
16    7
17    7
Name: Type_of_Glass, dtype: int64

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(y_test,pred)

0.6111111111111112

In [22]:
knn_1 = KNeighborsClassifier(n_neighbors=5,metric='manhattan',p=1,algorithm='brute')

In [23]:
knn_1 = knn.fit(X_train,y_train)

In [24]:
pred_1 = knn.predict(x_test)

C:\Users\sowmyaappu\anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:1450: FutureWarning: from version 1.0 (renaming of 0.25), pairwise_distances for metric='seuclidean' will require V to be specified if Y is passed.
  warnings.warn(

In [25]:
pred_1

array([1, 1, 1, 2, 2, 2, 2, 2, 2, 5, 2, 2, 6, 2, 7, 7, 7, 7], dtype=int64)

In [26]:
accuracy_score(y_test, pred_1)

0.6111111111111112